name: run-python

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run script
        run: python scripts/my_script.py

      - name: Commit Excel
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/results.xlsx
          git commit -m "Log execution time" || echo "No changes"
          git push
